body{
    background-image: linear-gradient(to right, purple, aqua);
    text-align: center;
}
.center{
    display: inline-block;
    background-color: rgb(255, 255, 255);
}
input{
    margin-bottom: 40px;
    padding: 10px 40px
}
form{
    text-align: center;
    margin-top: 200px;
}
.sub{
    float: left;
    background-color: orangered;
    border: none;
    border-radius: 2px;
    padding: 20px 50px;
    color: #fff;  
    margin-left: 350px;
}
.res{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1000px;
    text-decoration: underline;

}
.know{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}